<launch>
   <!-- Run simulation of simple office world -->
  <include file="$(find reem_gazebo)/launch/reem_gazebo.launch">
    <arg name="world" value="simple_office"/>
  </include>

  <!-- Run the mapping node -->
  <include file="$(find reem_gazebo_2dnav)/launch/gmapping_node.launch"/>
</launch>
